<div>
  <p>We are using...</p>
  <table border="1">
    <thead>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>node.js</th>
        <td>
        <span id="node-version"></span>
        </td>
    </tr>
    <tr>
        <th>chromium</th>
        <td>
        <span id="chrome-version"></span>
        </td>
    </tr>
    <tr>
        <th>electron</th>
        <td>
        <span id="electron-version"></span>
        </td>
    </tr>

    </tbody>
  </table>
</div>
